$gridconfig = {
	col : 1,
	gutter : 0px
}

grid( $cols = 1 , $gutter = 0px )

	$ratio = 1 / $cols
	$gridconfig.col	= $cols
	$gridconfig.gutter	= $gutter

	&
		letter-spacing: -1ex
		font-size: 0
		margin-right: - $gutter
		> *
			col( $ratio, $gutter )

col( $ratio = 1, $gutter = $gridconfig.gutter )
	&
		margin-right: $gutter
		display: inline-block
		font-size: 1rem 
		letter-spacing: normal
		width: "calc( %s - %s )" % (percentage($ratio) $gutter)
		box-sizing: border-box
